<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/book1.png" alt="book1">
    <h4>Dragon Gold</h4>
    <p>Harri longs to win something for once, rather than always coming second to Ryan ...</p>
  </li>
  <li class="recipe">
    <img src="/book2.png" alt="book2">
    <h4>The Bear And The Hear</h4>
    <p>Once upon a time Hare and Bear lived in a deserted place. Hare was very scared of old Bear...</p>
  </li>
  <li class="recipe">
    <img src="/book3.jpeg" alt="smoothie recipe icon">
    <h4>Care your Trees</h4>
    <p>A tree is nice to plant. Every day for years and years, you watch the little tree grow. You say to people ...</p>
  </li>
  <li class="recipe">
    <img src="/book4.jpg" alt="Little Red">
    <h4>Little Red Riding Hood</h4>
    <p>Once upon a time, there lived the prettiest little girl ever seen. Her mother made her a little red hood ...</p>
  </li>
  <li class="recipe">
    <img src="/book5.jpg" alt="alice in wonderland">
    <h4>Alice in wonderlandt</h4>
    <p>A young girl named Alice is the main character in Alice's Adventures in Wonderland ...</p>
  </li>
  <li class="recipe">
    <img src="/book6.jpg" alt="harry potter">
    <h4>Harry Potter</h4>
    <p>Harry is an orphan living with his guardian aunt and uncle and their son, who mistreat him ...</p>
  </li>
</ul>

<%- include('partials/footer'); -%>